.elementor-7331 .elementor-element.elementor-element-90ced11 > .elementor-container {
  min-height:400px;
}
.elementor-7331 .elementor-element.elementor-element-90ced11 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content:center;
  align-items:center;
}
.elementor-7331 .elementor-element.elementor-element-90ced11:not(.elementor-motion-effects-element-type-background),
.elementor-7331 .elementor-element.elementor-element-90ced11 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image:url('/Users/avm/Documents/programming/react/carpathian-citizen-science-react18/src/img/Meetings-CitizenSci.jpg');
  background-position:top center;
  background-repeat:no-repeat;
  background-size:100% auto;
}
.elementor-7331 .elementor-element.elementor-element-90ced11 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-90ced11 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-e9d3cbd {
  text-align:left;
  color:#FFFFFF;
  font-size:17px;
  font-weight:400;
  line-height:0.9em;
  letter-spacing:0.8px;
}
.elementor-7331 .elementor-element.elementor-element-e9d3cbd > .elementor-widget-container {
  margin:268px -10px -115px -10px;
  padding:8px 8px 3px 13px;
  background-color:#00827AA8;
}
.elementor-7331 .elementor-element.elementor-element-e9d3cbd.ha-has-bg-overlay > .elementor-widget-container:before {
  transition:background 0.3s;
}
.eae-wrap-e2f8f7d.eae-popup .mfp-inline-holder .mfp-content {
  width:25%;
  height:134px;
  overflow-y:auto;
}
body .eae-popup.mfp-bg.eae-wrap-e2f8f7d {
  background-color:#000000BF;
}
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .icon-position-before i ,
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .icon-position-before svg {
  margin-right:10px;
}
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .icon-position-after i ,
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .icon-position-after svg {
  margin-left:10px;
}
.eae-wrap-e2f8f7d .mfp-title {
  color:#FFFFFF;
  background-color:#00827A;
  padding:22px 22px 22px 22px;
  font-family:"Roboto", Sans-serif;
  font-weight:600;
}
.eae-popup.eae-wrap-e2f8f7d .eae-modal-content {
  padding:22px 22px 22px 22px;
}
.eae-wrap-e2f8f7d .mfp-inline-holder .mfp-content {
  border-radius:13px 13px 13px 13px;
}
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .eae-popup-link {
  font-family:"Roboto", Sans-serif;
  font-size:26px;
  font-weight:500;
  text-shadow:0px 0px 10px rgba(0,0,0,0.3);
  background-color:#61CE7000;
  border-radius:8px 8px 8px 8px;
}
.elementor-7331 .elementor-element.elementor-element-e2f8f7d .eae-popup-link:hover {
  background-color:#00827A;
}
.eae-wrap-e2f8f7d .eae-close {
  font-size:28px;
  height:28px;
  width:28px;
  top:15px;
  right:15px;
}
.eae-wrap-e2f8f7d svg.eae-close {
  width:28px;
  height:28px;
}
.elementor-7331 .elementor-element.elementor-element-e2f8f7d > .elementor-widget-container {
  margin:0% 0% -5% 0%;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-de75f08 > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-690d21c {
  text-align:left;
}
.elementor-7331 .elementor-element.elementor-element-690d21c .elementor-heading-title {
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:41px;
  font-weight:600;
  -webkit-text-stroke-color:#000;
  stroke:#000;
}
.elementor-7331 .elementor-element.elementor-element-690d21c > .elementor-widget-container {
  margin:50px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-c315fbf {
  --divider-border-style:solid;
  --divider-color:#00827A;
  --divider-border-width:1.5px;
}
.elementor-7331 .elementor-element.elementor-element-c315fbf .elementor-divider-separator {
  width:60%;
  margin:0 auto;
  margin-left:0;
}
.elementor-7331 .elementor-element.elementor-element-c315fbf .elementor-divider {
  text-align:left;
  padding-top:2px;
  padding-bottom:2px;
}
.elementor-7331 .elementor-element.elementor-element-c315fbf > .elementor-widget-container {
  margin:-1px -1px -1px -1px;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-3f44612 {
  text-align:left;
  color:#7A7A7A;
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
  word-spacing:0px;
}
.elementor-7331 .elementor-element.elementor-element-537b9f7 > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-537b9f7 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-537b9f7 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-f67bcc5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom:1px;
}
.elementor-7331 .elementor-element.elementor-element-f67bcc5 > .elementor-element-populated {
  padding:-1px -1px -1px -1px;
}
.elementor-7331 .elementor-element.elementor-element-f967029 {
  text-align:left;
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:34px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-f967029 > .elementor-widget-container {
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-bafae3f {
  text-align:justify;
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-ff4134f > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-ff4134f {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-ff4134f > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-f334536 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom:1px;
}
.elementor-7331 .elementor-element.elementor-element-f334536 > .elementor-element-populated {
  padding:-1px -1px -1px -1px;
}
.elementor-7331 .elementor-element.elementor-element-7e4006e {
  text-align:left;
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:34px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-7e4006e > .elementor-widget-container {
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-d34566b {
  text-align:justify;
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-a9b4ba3 > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-a9b4ba3 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-a9b4ba3 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-fa04eea > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom:1px;
}
.elementor-7331 .elementor-element.elementor-element-fa04eea > .elementor-element-populated {
  padding:-1px -1px -1px -1px;
}
.elementor-7331 .elementor-element.elementor-element-13cc688 {
  text-align:left;
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:34px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-13cc688 > .elementor-widget-container {
  margin:0px 0px -15px 0px;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-2d143eb.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-2d143eb.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-2d143eb .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-074c62f {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-074c62f > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-a4e6454 {
  margin-top:-18px;
  margin-bottom:-18px;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-fdd25ad.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-fdd25ad.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-fdd25ad .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-4bcaaa7 {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-4bcaaa7 > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-de153e9 .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-de153e9.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-de153e9.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-de153e9.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-de153e9.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-de153e9.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-de153e9 .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-de153e9 .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-2b0a063 {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-2b0a063 > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-3666c13 > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-3666c13 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-3666c13 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-3c0cf1e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom:1px;
}
.elementor-7331 .elementor-element.elementor-element-3c0cf1e > .elementor-element-populated {
  padding:-1px -1px -1px -1px;
}
.elementor-7331 .elementor-element.elementor-element-5e84eaa {
  text-align:left;
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:34px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-5e84eaa > .elementor-widget-container {
  margin:0px 0px -15px 0px;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-7128079 .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-7128079.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-7128079.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-7128079.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-7128079.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-7128079.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-7128079 .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-7128079 .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-ffbfd4f {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-ffbfd4f > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-bec0745 {
  margin-top:-18px;
  margin-bottom:-18px;
}
.elementor-7331 .elementor-element.elementor-element-4502559 .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-4502559.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-4502559.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-4502559.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-4502559.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-4502559.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-4502559 .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-4502559 .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-a65903b {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-a65903b > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637 .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-3eeb637.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-3eeb637.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637 .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-3eeb637 .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-4bfa9c5 {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-4bfa9c5 > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-c0af244 {
  margin-top:-18px;
  margin-bottom:-18px;
}
.elementor-7331 .elementor-element.elementor-element-84b356c .elementor-icon-wrapper {
  text-align:center;
}
.elementor-7331 .elementor-element.elementor-element-84b356c.elementor-view-stacked .elementor-icon {
  background-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-84b356c.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-84b356c.elementor-view-default .elementor-icon {
  color:#00827A;
  border-color:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-84b356c.elementor-view-framed .elementor-icon,
.elementor-7331 .elementor-element.elementor-element-84b356c.elementor-view-default .elementor-icon svg {
  fill:#00827A;
}
.elementor-7331 .elementor-element.elementor-element-84b356c .elementor-icon {
  font-size:15px;
}
.elementor-7331 .elementor-element.elementor-element-84b356c .elementor-icon svg {
  height:15px;
}
.elementor-7331 .elementor-element.elementor-element-1a8f38b {
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-1a8f38b > .elementor-widget-container {
  margin:5px 0px -5px 0px;
}
.elementor-7331 .elementor-element.elementor-element-bc646d0 > .elementor-container {
  max-width:1280px;
}
.elementor-7331 .elementor-element.elementor-element-bc646d0:not(.elementor-motion-effects-element-type-background),
.elementor-7331 .elementor-element.elementor-element-bc646d0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color:#FFFFFF;
}
.elementor-7331 .elementor-element.elementor-element-bc646d0 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top:0px;
  margin-bottom:50px;
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-bc646d0 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7331 .elementor-element.elementor-element-14c10d8 {
  text-align:left;
  color:#00827A;
  font-family:"Roboto", Sans-serif;
  font-size:34px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-14c10d8 > .elementor-widget-container {
  padding:0px 0px 0px 0px;
}
.elementor-7331 .elementor-element.elementor-element-586bac4 {
  text-align:justify;
  font-family:"Roboto", Sans-serif;
  font-size:18px;
  font-weight:400;
}
.elementor-7331 .elementor-element.elementor-element-afbaad9 {
  margin-top:-80px;
  margin-bottom:0px;
}
@media(min-width:768px) {
  .elementor-7331 .elementor-element.elementor-element-9938977 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-daa609d {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-33ba119 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-8de3d88 {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-3d9ebc0 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-ed371c1 {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-67ae104 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-f26babc {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-3139821 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-39171a9 {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-db69314 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-5bd7117 {
    width:94.881%;
  }
  .elementor-7331 .elementor-element.elementor-element-23b9d25 {
    width:5.119%;
  }
  .elementor-7331 .elementor-element.elementor-element-c79110c {
    width:94.881%;
  }
}
@media(min-width:1025px) {
  .elementor-7331 .elementor-element.elementor-element-90ced11:not(.elementor-motion-effects-element-type-background),
  .elementor-7331 .elementor-element.elementor-element-90ced11 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-attachment:fixed;
  }
}
